#builder{
    width: 812px;
}
#builder .float-box-left.float-box-sticky{
    width: 160px;
    margin-left: -170px;
}
#input-name{
    width: calc(100% - 64px);
}
#input-prefix{
    width: 20px;
}
#input-id{
    width: 30px;
}
#input-name.template{
    width: calc(100% - 74px);
}
#newsletter-builder{
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: calc(100vh - 240px);
    max-width: 700px;
    padding-left: 60px;
    padding-right: 50px;
}
#newsletter-builder #fakebody > table{
    border-spacing: 5px;
    margin-left: -10px;
}

#newsletter-builder .draggable{
    transition: opacity 200ms linear;
    cursor: grab;
    opacity: 0.7;
}
#newsletter-builder .draggable:hover{
    opacity: 1;
}
#newsletter-builder .draggable > td{
    background-color: white;
    border-top: 1px solid #c8c7c7;
    border-bottom: 1px solid #c8c7c7;
}
#newsletter-builder .draggable:active,
#newsletter-builder .dragged{
    cursor: grabbing;
}

#newsletter-builder .draggable:active > td,
#newsletter-builder .dragged > td{
    box-shadow: 0 0 10px #b6b5b5;
}

#newsletter-builder .ui-highlight > td{
    border: 1px dashed #b6b5b5;
    border-radius: 8px;
    padding-top: 20px;
    padding-bottom: 20px;
}
#newsletter-builder .newsletter-builder-row > td{
    position: relative;
}
#newsletter-builder .newsletter-builder-ui{
    position: absolute;
    top: -1px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 5px;
    background-color: white;
    border: 1px solid #c8c7c7;
}
#newsletter-builder .newsletter-builder-ui.grip{
    left: -41px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-right: 0;
}
#newsletter-builder .newsletter-builder-ui.remove{
    right: -41px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-left: 0;
}
#newsletter-builder .newsletter-builder-ui .icon{
    display: block;
    height: 30px;
    width: 30px;
    line-height: 29px;
    color: #c8c7c7;
    border-radius: 8px;
    box-sizing: border-box;
}
#newsletter-builder .newsletter-builder-ui.remove .icon{
    font-size: 1.5em;
    padding-top: 1px;
}
#newsletter-builder .newsletter-builder-row .btn-remove{
    opacity: 0;
    transition: opacity 200ms linear;
}
#newsletter-builder .newsletter-builder-row:hover .btn-remove{
    opacity: 1;
}
#newsletter-builder .newsletter-builder-ui .btn-remove:hover{
    background-color: #ff6664;
    color: white;
}
.cpt-type{
    vertical-align: middle;
}
.cpt-icon{
    width: 14px;
    margin-right: 5px;
    /*font-size: 1.5em;*/
}
